# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/.gradle/4.10.2/fileContent/fileContent.lock
android/.gradle/4.10.2/fileChanges/last-build.bin
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
android/.gradle/4.10.2/gc.properties
android/.gradle/4.10.2/javaCompile/classAnalysis.bin
android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
android/.gradle/4.10.2/javaCompile/javaCompile.lock
android/.gradle/4.10.2/javaCompile/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
ios/Flutter/App.framework/App
ios/Flutter/App.framework/flutter_assets/AssetManifest.json
ios/Flutter/App.framework/flutter_assets/FontManifest.json
ios/Flutter/App.framework/flutter_assets/fonts/MaterialIcons-Regular.ttf
ios/Flutter/App.framework/flutter_assets/images/11.png
ios/Flutter/App.framework/flutter_assets/isolate_snapshot_data
ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
ios/Flutter/App.framework/flutter_assets/LICENSE
ios/Flutter/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
ios/Flutter/App.framework/flutter_assets/vm_snapshot_data
ios/Flutter/App.framework/Info.plist
ios/Flutter/Flutter.framework/Flutter
ios/Flutter/Flutter.framework/Headers/Flutter.h
ios/Flutter/Flutter.framework/Headers/FlutterAppDelegate.h
ios/Flutter/Flutter.framework/Headers/FlutterBinaryMessenger.h
ios/Flutter/Flutter.framework/Headers/FlutterCallbackCache.h
ios/Flutter/Flutter.framework/Headers/FlutterChannels.h
ios/Flutter/Flutter.framework/Headers/FlutterCodecs.h
ios/Flutter/Flutter.framework/Headers/FlutterDartProject.h
ios/Flutter/Flutter.framework/Headers/FlutterEngine.h
ios/Flutter/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
ios/Flutter/Flutter.framework/Headers/FlutterMacros.h
ios/Flutter/Flutter.framework/Headers/FlutterPlatformViews.h
ios/Flutter/Flutter.framework/Headers/FlutterPlugin.h
ios/Flutter/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
ios/Flutter/Flutter.framework/Headers/FlutterTexture.h
ios/Flutter/Flutter.framework/Headers/FlutterViewController.h
ios/Flutter/Flutter.framework/icudtl.dat
ios/Flutter/Flutter.framework/Info.plist
ios/Flutter/Flutter.framework/Modules/module.modulemap
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/ServiceDefinitions.json
